In [1]:
import pandas as pd

###  Method to create your own data frame.

In [2]:
lst = [[10, 20, 30],
        [40,50,60],
        [70,80,90]]

df = pd.DataFrame(lst,index = ["w","x", "y"], columns = ["a", "b","c"])
df

    a   b   c
w  10  20  30
x  40  50  60
y  70  80  90

In [3]:
df.iloc[2,2]

90

In [4]:
df.loc["y", "c"]

90

In [5]:
# dic["a"] = 2

In [6]:
df["b"]

w    20
x    50
y    80
Name: b, dtype: int64

In [7]:
df["d"] = [100,110,120]

In [8]:
df

    a   b   c    d
w  10  20  30  100
x  40  50  60  110
y  70  80  90  120

In [9]:
laptops = pd.read_csv("laptops.csv", encoding = "Latin-1")

In [10]:
laptops.head()

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

In [11]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

In [12]:
laptops.shape

(1303, 13)

In [13]:
1303-1133

170

In [14]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [15]:
laptops.index

RangeIndex(start=0, stop=1303, step=1)

In [16]:
# laptops.columns = []

In [17]:
col = []

for i in laptops.columns:
    # print(i)
    i = i.lower()
    i = i.strip()
    i = i.replace(" ","_")
    i = i.replace("(", "").replace(")","")
    i = i.replace("operating_system","os")
    col.append(i)
# 1st method to change the column name.

In [18]:
col

['manufacturer',
 'model_name',
 'category',
 'screen_size',
 'screen',
 'cpu',
 'ram',
 'storage',
 'gpu',
 'os',
 'os_version',
 'weight',
 'price_euros']

#### i am not updated from this method because one more way to change the column name and remove special character.

In [19]:
# laptops.columns = col

In [20]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

#### 2nd method

In [21]:
laptops.columns = laptops.columns.str.lower().str.strip().str.replace(" ","_").str.replace("(","").str.replace(")","")

In [22]:
laptops.columns

Index(['manufacturer', 'model_name', 'category', 'screen_size', 'screen',
       'cpu', 'ram', 'storage', 'gpu', 'operating_system',
       'operating_system_version', 'weight', 'price_euros'],
      dtype='object')

In [23]:
laptops.columns = laptops.columns.str.replace('operating_system', "os")

#### Column names are changed now.

In [24]:
laptops.head(2)

,manufacturer,model_name,category,screen_size,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"

### removing " character from column.

In [25]:
laptops["screen_size"] # Series

0       13.3"
1       13.3"
2       15.6"
3       15.4"
4       13.3"
        ...
1298    14.0"
1299    13.3"
1300    14.0"
1301    15.6"
1302    15.6"
Name: screen_size, Length: 1303, dtype: object

In [26]:
# float('15.6"'.strip('"'))

In [27]:
laptops["screen_size"] = laptops["screen_size"].str.strip('"').astype(float)

### screen_size column is cleaned now.

In [28]:
laptops["screen_size"]

0       13.3
1       13.3
2       15.6
3       15.4
4       13.3
        ...
1298    14.0
1299    13.3
1300    14.0
1301    15.6
1302    15.6
Name: screen_size, Length: 1303, dtype: float64

In [29]:
laptops.head(2)

,manufacturer,model_name,category,screen_size,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"

#### Rename screen size col.

In [30]:
# laptops = laptops.rename({"screen_size", "screen_size_inches"}, axis = 1)
laptops.rename({"screen_size":"screen_size_inches"}, axis = 1, inplace = True) ##1st method

In [31]:
laptops.head(2)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"

In [32]:
# laptops.columns = laptops.columns .str.replace("screen_size","screen_size_inches") ### 2nd method

#### remove GB from column.

In [33]:
laptops["ram"]

0        8GB
1        8GB
2        8GB
3       16GB
4        8GB
        ...
1298     4GB
1299    16GB
1300     2GB
1301     6GB
1302     4GB
Name: ram, Length: 1303, dtype: object

In [34]:
laptops["ram"] = laptops["ram"].str.replace("GB" , "").astype(int)

####  remove kg from column.

In [35]:
laptops["weight"]

0       1.37kg
1       1.34kg
2       1.86kg
3       1.83kg
4       1.37kg
         ...
1298     1.8kg
1299     1.3kg
1300     1.5kg
1301    2.19kg
1302     2.2kg
Name: weight, Length: 1303, dtype: object

In [36]:
laptops["weight"] = laptops["weight"].str.replace("kg" , "")

In [37]:
laptops["cpu"]

0                       Intel Core i5 2.3GHz
1                       Intel Core i5 1.8GHz
2                 Intel Core i5 7200U 2.5GHz
3                       Intel Core i7 2.7GHz
4                       Intel Core i5 3.1GHz
                        ...
1298              Intel Core i7 6500U 2.5GHz
1299              Intel Core i7 6500U 2.5GHz
1300    Intel Celeron Dual Core N3050 1.6GHz
1301              Intel Core i7 6500U 2.5GHz
1302    Intel Celeron Dual Core N3050 1.6GHz
Name: cpu, Length: 1303, dtype: object

### make one more column with the help of cpu column..

#### 1st  method

In [38]:
# laptops["cpu_manufacturer"] = laptops["cpu"]

laptops["cpu"].str.split().str[0]

0       Intel
1       Intel
2       Intel
3       Intel
4       Intel
        ...
1298    Intel
1299    Intel
1300    Intel
1301    Intel
1302    Intel
Name: cpu, Length: 1303, dtype: object

#### 2nd method

In [39]:
laptops["cpu"].str.split(n = 1, expand = True)[0]

0       Intel
1       Intel
2       Intel
3       Intel
4       Intel
        ...
1298    Intel
1299    Intel
1300    Intel
1301    Intel
1302    Intel
Name: 0, Length: 1303, dtype: object

In [40]:
laptops["cpu_manufacturer"] = laptops["cpu"].str.split(n = 1, expand = True)[0]

#### new column is created

In [41]:
laptops.head(2)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,"1339,69",Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,"898,94",Intel

In [42]:
laptops["gpu"]

0       Intel Iris Plus Graphics 640
1             Intel HD Graphics 6000
2              Intel HD Graphics 620
3                 AMD Radeon Pro 455
4       Intel Iris Plus Graphics 650
                    ...
1298           Intel HD Graphics 520
1299           Intel HD Graphics 520
1300               Intel HD Graphics
1301              AMD Radeon R5 M330
1302               Intel HD Graphics
Name: gpu, Length: 1303, dtype: object

In [43]:
laptops["price_euros"].head()

0    1339,69
1     898,94
2     575,00
3    2537,45
4    1803,60
Name: price_euros, dtype: object

In [44]:
laptops["price_euros"] = laptops["price_euros"].str.replace("," , "").astype(int)

In [45]:
laptops["os"].unique()

array(['macOS', 'No OS', 'Windows', 'Mac OS', 'Linux', 'Android',
       'Chrome OS'], dtype=object)

#### there is 2 os names which is actually one name changed into single name.

In [46]:
laptops["os"].value_counts()

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          13
Mac OS          8
Android         2
Name: os, dtype: int64

#### manual function of value_counts() if you apply this the answer will be same.

In [47]:
# count = {}

# for i in laptops["os"]:
#     if i not in count:
#         count[i] = 1
#     else:
#         count[i] += 1

In [48]:
# count

#### 1st method

In [49]:
# laptops["os"] = laptops["os"].str.replace("Mac OS","macOS")

#### 2nd method

In [50]:
change = {'macOS':'macOS', 'No OS':'No OS', 'Windows':'Windows', 
           'Mac OS':'macOS', 'Linux':'Linux', 'Android':'Android',
       'Chrome OS':'Chrome OS'}

laptops["os"] = laptops["os"].map(change)

#### now os column is look good.

In [51]:
laptops["os"].value_counts()

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          21
Android         2
Name: os, dtype: int64

In [52]:
laptops.isnull()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1299,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1300,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1301,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1302,False,False,False,False,False,False,False,False,False,False,False,False,False,False

#### there is 170 null values in the os_version column.

In [53]:
laptops.isnull().sum()

manufacturer            0
model_name              0
category                0
screen_size_inches      0
screen                  0
cpu                     0
ram                     0
storage                 0
gpu                     0
os                      0
os_version            170
weight                  0
price_euros             0
cpu_manufacturer        0
dtype: int64

In [54]:
laptops["os_version"].isnull().sum()

170

In [55]:
boolean = laptops["os_version"].isnull()      ### this is called boolean indexing

boolean

0        True
1        True
2        True
3        True
4        True
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Name: os_version, Length: 1303, dtype: bool

#### these row have null values which is shown with the help of boolean indexing.

In [56]:
laptops[boolean]

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,133969,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,89894,Intel
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86,57500,Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83,253745,Intel
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,180360,Intel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8,1TB HDD,AMD Radeon R5 M430,Linux,NaN,2.3,80599,Intel
1277,Acer,Aspire ES1-531,Notebook,15.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4,500GB HDD,Intel HD Graphics 400,Linux,NaN,2.4,28900,Intel
1281,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8,1TB HDD,AMD Radeon R5 M430,Linux,NaN,2.3,80599,Intel
1291,Acer,Aspire ES1-531,Notebook,15.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4,500GB HDD,Intel HD Graphics 400,Linux,NaN,2.4,28900,Intel
1295,Dell,Inspiron 3567,Notebook,15.6,1366x768,Intel Core i7 7500U 2.7GHz,8,1TB HDD,AMD Radeon R5 M430,Linux,NaN,2.3,80599,Intel

In [57]:
laptops.loc[boolean, "os"]

0       macOS
1       macOS
2       No OS
3       macOS
4       macOS
        ...
1267    Linux
1277    Linux
1281    Linux
1291    Linux
1295    Linux
Name: os, Length: 170, dtype: object

In [58]:
laptops.loc[boolean, "os"].value_counts()

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

In [59]:
laptops["os"] == "macOS"

0        True
1        True
2       False
3        True
4        True
        ...
1298    False
1299    False
1300    False
1301    False
1302    False
Name: os, Length: 1303, dtype: bool

#### search from internet 
#### what is os_version of macos , the answer is x that'why i am filled 'X' in the os_version column.

In [60]:
laptops.loc[laptops["os"] == "macOS","os_version"] = "X"

#### No OS are not existing in any os_version that why i am replace it with unknown vesion.

In [61]:
laptops.loc[laptops["os"] == "No OS","os_version"] = "unknown version"

#### reduce null value from 170 to 91

In [62]:
laptops.isnull().sum()

manufacturer           0
model_name             0
category               0
screen_size_inches     0
screen                 0
cpu                    0
ram                    0
storage                0
gpu                    0
os                     0
os_version            91
weight                 0
price_euros            0
cpu_manufacturer       0
dtype: int64

In [63]:
170-79

91

In [64]:
laptops.head()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,X,1.37,133969,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.34,89894,Intel
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,unknown version,1.86,57500,Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,X,1.83,253745,Intel
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,X,1.37,180360,Intel

In [65]:
laptops["price_euros"].max()

609900

In [66]:
laptops["price_euros"].min()

17400

In [67]:
laptops["manufacturer"].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Fujitsu        3
Chuwi          3
LG             3
Google         3
Huawei         2
Name: manufacturer, dtype: int64

#### Most expensive laptop of apple is MacBook Air.

In [68]:
laptops[laptops["manufacturer"] == "Apple"].sort_values("price_euros" , ascending = False).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
17,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16,512GB SSD,AMD Radeon Pro 560,macOS,X,1.83,285800,Intel

#### cheap laptop of apply is also MacBook Air but there is a big differnce in the ram section .

In [69]:
laptops[laptops["manufacturer"] == "Apple"].sort_values("price_euros" , ascending = True).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.34,89894,Intel

#### Most expensive laptop of Dell is Inspiron 7773.

In [70]:
laptops[laptops["manufacturer"] == "Dell"].sort_values("price_euros" , ascending = False).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
723,Dell,Alienware 17,Gaming,17.3,4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,32,1TB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows,10,4.36,365940,Intel

#### cheap laptop of Dell is Latitude 5580.

In [71]:
laptops[laptops["manufacturer"] == "Dell"].sort_values("price_euros" , ascending = True).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
340,Dell,Inspiron 3552,Notebook,15.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4,500GB HDD,Intel HD Graphics,Linux,NaN,2.2,27490,Intel

In [72]:
laptops[laptops["manufacturer"] == "Dell"]["price_euros"].min()

27490

#### Most expensive laptop of  Lenovo is Legion Y520-15IKBN.

In [73]:
laptops[laptops["manufacturer"] == "Lenovo"].sort_values("price_euros" , ascending = False).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
610,Lenovo,Thinkpad P51,Notebook,15.6,IPS Panel 4K Ultra HD 3840x2160,Intel Xeon E3-1535M v6 3.1GHz,32,1TB SSD,Nvidia Quadro M2200M,Windows,10,2.5,489900,Intel

#### cheapest laptop of Lenovo is ThinkPad T460	.

In [74]:
laptops[laptops["manufacturer"] == "Lenovo"].sort_values("price_euros" , ascending = True).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
1300,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2,64GB Flash Storage,Intel HD Graphics,Windows,10,1.5,22900,Intel

In [75]:
laptops[laptops["manufacturer"] == "Lenovo"]["price_euros"].min()

22900

#### Most expensive laptop of HP is Probook 440.

In [76]:
laptops[laptops["manufacturer"] == "HP"].sort_values("price_euros" , ascending = False).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
749,HP,Zbook 17,Workstation,17.3,IPS Panel Full HD 1920x1080,Intel Xeon E3-1535M v5 2.9GHz,16,256GB SSD,Nvidia Quadro M2000M,Windows,7,3,438900,Intel

#### cheapest laptop of HP is EliteBook 840.

In [77]:
laptops[laptops["manufacturer"] == "HP"].sort_values("price_euros" , ascending = True).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
1268,HP,Stream 11-Y000na,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,2,32GB Flash Storage,Intel HD Graphics 400,Windows,10,1.17,20900,Intel

In [78]:
laptops[laptops["manufacturer"] == "HP"]["price_euros"].min()

20900

#### Most expensive laptop of Asus is FX553VD-FY647T (i7-7700HQ/8GB/256GB/GeForce.

In [79]:
laptops[laptops["manufacturer"] == "Asus"].sort_values("price_euros" , ascending = False).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
1066,Asus,ROG G701VO,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 6820HK 2.7GHz,64,1TB SSD,Nvidia GeForce GTX 980,Windows,10,3.58,397500,Intel

#### cheapest laptop of Asus is ZenBook UX310UQ-GL026T.

In [80]:
laptops[laptops["manufacturer"] == "Asus"].sort_values("price_euros" , ascending = True).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
20,Asus,Vivobook E200HA,Netbook,11.6,1366x768,Intel Atom x5-Z8350 1.44GHz,2,32GB Flash Storage,Intel HD Graphics 400,Windows,10,0.98,19190,Intel

In [81]:
laptops[laptops["manufacturer"] == "Asus"]["price_euros"].min()

19190

#### Most expensive laptop of Acer is Spin 5.

In [82]:
laptops[laptops["manufacturer"] == "Acer"].sort_values("price_euros" , ascending = False).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
1189,Acer,Predator G9-793,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows,10,4.2,259900,Intel

#### cheapest laptop of acer is Aspire F5-573G-510L

In [83]:
laptops[laptops["manufacturer"] == "Acer"].sort_values("price_euros" , ascending = True).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
1215,Acer,C740-C9QX (3205U/2GB/32GB/Chrome,Netbook,11.6,1366x768,Intel Celeron Dual Core 3205U 1.5GHz,2,32GB SSD,Intel HD Graphics,Chrome OS,NaN,1.3,17400,Intel

In [84]:
laptops[laptops["manufacturer"] == "Acer"]["price_euros"].min()

17400

#### Most expensive laptop of Toshiba is Satellite Pro.

In [85]:
laptops[laptops["manufacturer"] == "Toshiba"].sort_values("price_euros" , ascending = False).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
491,Toshiba,Portege X30-D-10L,Ultrabook,13.3,Full HD / Touchscreen 1920x1080,Intel Core i7 7500U 2.7GHz,32,512GB SSD,Intel HD Graphics 620,Windows,10,1.05,279900,Intel

#### cheapest laptop of Toshiba is Tecra A40-C-1E5.

In [86]:
laptops[laptops["manufacturer"] == "Toshiba"].sort_values("price_euros").head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
159,Toshiba,Satellite Pro,Notebook,15.6,1366x768,Intel Core i3 6006U 2.2GHz,4,500GB HDD,Intel HD Graphics 520,Windows,10,2.1,44700,Intel

In [87]:
laptops[laptops["manufacturer"] == "Toshiba"]["price_euros"].min()

44700

#### Most expensive laptop of Samsung is Chromebook Plus.

In [88]:
laptops[laptops["manufacturer"] == "Samsung"].sort_values("price_euros" , ascending = False).head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
874,Samsung,Notebook 9,Ultrabook,15.0,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,16,256GB SSD,Nvidia GeForce 940MX,Windows,10,1.23,184900,Intel

#### cheapest laptpop of Samsung is Notebook 9.

In [89]:
laptops[laptops["manufacturer"] == "Samsung"].sort_values("price_euros").head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros,cpu_manufacturer
430,Samsung,Chromebook 3,Netbook,11.6,1366x768,Intel Celeron Dual Core N3060 1.6GHz,4,16GB Flash Storage,Intel HD Graphics 400,Chrome OS,NaN,1.15,26900,Intel

#### Completed.